*{
     font-family: "Poppins", sans-serif;
       /* background: linear-gradient(skyblue,white); */
}

.form_wrapper{
 background: linear-gradient(skyblue,white);
 display: flex;
 justify-content: center;
 padding:0 10px 30px 10px;
 
 min-height:100vh;
 height:auto;

}
 

.form_container{
     /* padding:10px 0 80px 20px; */
     padding: 0 10px 0px 10px;
     height:100%;
     margin-top:70px;
     position: relative;
     /* overflow-y: hidden; */
     background-color:white;
     box-shadow:0 0 2px 2px gray;
     border-radius:20px;
      max-width:700px;
      width:100%;
      
}


.imgcontainer{
     display: flex;
     justify-content: space-around;
     align-items: center;
}

.imgpreview{
     height:100px;
     width:140px;
     object-fit: cover;
     border:1px solid black;
}

.addimageIcon{
     height:80px;
     width:80px;
     cursor: pointer;
}