.panelcont{
    margin-top:60px;
  
    /* background-color: #f4f7fb; */
    /* background-color: red; */

   
}


.row{
    
   
 
 /* background-color: rgb(0, 255, 47); */

 
  
 
}

.slidbarlist{
   
   height:100vh;
   overflow-y:auto;
}

.dynamiccom{
    
 height:100vh;
   overflow-y:auto; 
}

.dynamiccom::-webkit-scrollbar{
    display:none;
}




