.panelcont{
    margin-top:60px;
    padding:0 0px;
    
   
}


.row{
    display: flex;
    justify-content: center;
  
    width:100%;
   
}

.slidbarlist{
   
   height:100vh;
   overflow-y:auto;
}

.dynamiccom{
    
 height:100vh;
   overflow-y:auto;
    
   
   
}




