.panelcont{
    margin-top:60px;   
}


.row{ 
}

.slidbarlist{
   
   height:100vh;
   overflow-y:auto;
}

.dynamiccom{
    
 height:100vh;
   overflow-y:auto; 
}

.dynamiccom::-webkit-scrollbar{
    display:none;
}




