.footercont{
  /* background-color:white; */
  background: linear-gradient(to top, white, skyblue);
 
  margin-top: 50px;
  padding:50px 5px;
  height:max-content;

}

.footersec{
   /* background-color:black;
   color:white; */
   
}

.shopheading{
    font-size:26px;
    font-weight: bold;
    color: black;
    /* background-color: red; */
    white-space: nowrap;
}

.shopsubheading{
  font-size: 16px;
  color: rgba(0, 0, 0, 0.475);

}
 h5{
    font-size:25px;
    cursor:auto;
}

ul{
    list-style-type: none;
    /* font-size:19px; */
    /* color: rgba(0, 0, 0, 0.475); */
    cursor: pointer;
   
}




.explorehead,
.custcarehead{
  font-size:27px;
  color: black;
  font-weight:bold;
}

