.footercont{
  /* background-color:white; */
  /* background: linear-gradient(to top, white, skyblue); */
  /* background: linear-gradient(to top ,white,#417ae6); */
  background-color:white;
 
  /* margin-top: 50px; */
  padding:50px 5px;
  height:max-content;
   box-shadow:3px 0 5px 3px rgba(0, 0, 0, 0.447);
}

.footersec{
   /* background-color:black;
   color:white; */
   
}

.shopheading{
    font-size:26px;
    font-weight: bold;
    color: black;
    /* background-color: red; */
    white-space: nowrap;
}

.shopsubheading{
  font-size: 16px;
  color: rgba(0, 0, 0, 0.475);
  /* color:white; */

}
 h5{
    font-size:25px;
    cursor:auto;
}



.giticon,.linkedinicon,.instaicon,.mailicon{
  color: white;
  background-color:black;
  padding:10px;
  border-radius:50%;
    transition:transform 0.5s ease
}

.giticon:hover,
.linkedinicon:hover,
.instaicon:hover,
.mailicon:hover{
  transform:scale(1.2);
   color:#417ae6;

}


ul{
    list-style-type: none;
    /* font-size:19px; */
    /* color: rgba(0, 0, 0, 0.475); */
    cursor: pointer;
   
}




.explorehead,
.custcarehead{
  font-size:27px;
  color: black;
  font-weight:bold;
}

