
@import url('https://fonts.googleapis.com/css2?family=Alan+Sans:wght@300..900&family=Bungee+Spice&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Lobster+Two:ital,wght@0,400;0,700;1,400;1,700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Playwrite+HU:wght@100..400&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&family=TASA+Explorer:wght@400..800&family=UoqMunThenKhung&display=swap');


.homecontainer{
    margin-top: 60px;
    
      background-color: #f4f7fb;
    padding: 0 10px;
}

.movingtext{
 
    animation: movingtext 10s infinite linear;
     white-space: nowrap;
     
    
}


@keyframes movingtext {
     0%{
       color:red;
        transform: translateX(0%);
     }

      50%{
       color:rgb(255, 0, 225);
       
     }

     100%{
       color:rgb(162, 160, 25);
       transform: translateX(100%);
     }
}

.productcategory{
    display: flex;
    justify-content:space-evenly;
    align-items: center;
    /* background-color:red; */
    padding:10px;
    gap:10px;
}

.categorycont{
  
  width: clamp(100px,30vw,120px);
  height: clamp(60px,15vw,120px);
   
    
     box-shadow: rgba(40, 116, 240, 0.08) 0px 36px 50px;
   
    background:linear-gradient( rgb(203, 150, 86), white);
    border-radius:50%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap:0;
  margin-top: 10px;
    animation: category 0.9s  1s 1 ease-in;

}


@keyframes category {
   0%{
     opacity:0;
      transform: translateY(100%);
      
   }

   100%{
    opacity: 1;
    transform: translateY(0%);
   
   }
}

.productcategoryimg{
   
   height:auto;
   width:90%;
   
    object-fit:cover;
    /* background-color:yellow; */
}

/* .categoryname{
  margin:0;
  background-color:red;
  
} */


.newarrivalheading,
.trendprodheading,
.chooseusheading,
.bestsellercheading,
.shopbrandheading{
  font-size:45px;
  font-weight:bold;
  padding:0;
  margin:0;
  color:black;
  /* animation: heading 2s 1 ease-in ; */

  
}
/* 
@keyframes heading {
    0%{
      opacity:0;
      transform: translateX(100);
    }

    100%{
      opacity: 1;
      transform: translateX(-100);
    }
} */

.newproductcontainer,
.bestsellerprodcont
{
  /* display:grid;
  grid-template-columns:repeat(3,auto); */

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap:11px;

}


.newarrivalcategory{
  background-color:rgb(206, 232, 206);
  width: max-content;
  padding: 3px 5px;
  margin-top:5px;
  position: absolute;
  font-size:10px;
  border-radius:10px;
  color:green;
   font-weight: bold;

}

.newprocard,
.trendingprodcard{
   height:400px;
   width:350px;
   background-color:white;
   margin-top:20px;
   padding: 0 10px;
 
  border-radius: 25px;
  transition:transform 1s ease-out
}

.trendingprodcont{
  /* display:grid;
  grid-template-columns:repeat(3,auto); */

  display: flex;
  
  /* justify-content: center; */
  gap:11px;
  overflow-x: auto;
   overflow-y: scroll;
   scroll-behavior: smooth;
   /* padding:20px; */
  width:100%;
  
}


.trendingprodcont::-webkit-scrollbar{
  display: none;

}
.trendingprodcard{
  flex:0 0 auto;
 
   height:400px;
   /* width:70%; */
   width:300px;
   max-width:300px;
   background-color:white;
   /* margin-right:40px; */
  
   padding: 0 10px;
  border-radius: 25px;
  transition:transform 1s ease-out;
  height:420px;
  
   width:350px;
   
}





.newprocard:hover,
.trendingprodcard:hover{
  transform:translateY(-2%);
   box-shadow: rgba(40, 116, 240, 0.08) 0px 36px 50px;
}

.trendproddiscountper{
   background-color:rgba(232, 206, 206, 0.726);
  width: max-content;
  padding: 5px 7px;
 margin:0;
 margin-top:5px;
  font-size:12px;
  border-radius:10px;
  color:rgb(221, 15, 15);
   font-weight: bold;
  
}

.newproimg,
.trendprodimg{
  margin:0;
  padding:0;
  height:250px;
  width:100%;
  object-fit: contain;
  /* position: relative; */
}


/* 
@media only screen and (max-width:800px) {
    .newproductcontainer{
       display:grid;
  grid-template-columns:repeat(3,auto);
    }


    .newprocard{
   height:300px;
   width:200px;
   border:2px solid black;
   margin-top:20px;
}
} */


.deliverycont{
   max-width:350px;
   display: flex;
   flex-direction: column;
   justify-content:center;
   align-items:center;
   background-color:white;
   margin-top:10px;
    box-shadow: rgba(40, 116, 240, 0.08) 0px 36px 50px;
  border-radius:40px;
  padding:5px;
   
}

.serviceicon{
  /* background-color:white; */
  /* background-color:red; */
  border-radius:50%;
  font-size:50px;
  width:80px;
  display: flex;
   flex-direction: column;
   justify-content:center;
   align-items:center;
  
}


.serviceheading{
  font-size:18px;
  font-weight: bold;
  color: black;
  margin-top:10px;
 
}

.servicesubhead{
  color:rgba(0, 0, 0, 0.578);
 
}
/* 
 style={{width:"200px",display:"flex",flexDirection:"column",justifyContent:"center",alignItems:"center"}} 

  style={{backgroundColor:"pink",
                      borderRadius:"50%",
                      width:"120px",
                      fontSize:"80px",
                      display:"flex",
                      alignItems:"center",
                      justifyContent:"center",
                      
                      
                      
              }}  */

              .brandfiltercont{
                gap:30px;
                display: flex;
                flex-wrap: wrap;
                justify-content:space-evenly;
                /* margin-top:20px; */
                padding-bottom:50px;
              }

              .brandcont{
                background:linear-gradient(rgb(80, 139, 248),white);
                margin-top:30px;
                height:110px;
                width:110px;
                border-radius:50%;
                display: flex;
                justify-content: center;
                align-items: center;
                font-weight: bold;
                font-family: "Lobster Two", sans-serif;
                font-size:20px;
                
              }