
.form-container{
    display: flex;
    justify-content:center;
      /* background-color: #e9ecf4 ; */
       background: linear-gradient(skyblue,white);
     
     /* min-height:100%; */
     height:100vh;
    


}


.login-form{
     background-color:#ffffff; 
     
    max-width:400px;
    width:100%;
    height:440px;
    padding:20px;
    border-radius:30px;
    box-shadow: 0 0 15px 2px rgba(0, 0, 0, 0.251);

    margin-top:30px;


}

/* .createaccbtn {
    height:40px;
    width:90px;
    border:none;
    border-radius:10px;
    background-color:green;
    color: white;
    display: block;
    margin:25px auto;
     font-family: "Poppins", sans-serif;
} */

.label{
  margin-top:5px;
  /* font-size:; */
  font-family: "Poppins", sans-serif;
}

.form-inputs{
 margin-top: 8px;
 font-family: "Poppins", sans-serif;
}

.accconfirmation-cont{
    display: flex;
    justify-content: center;
    font-family: "Poppins", sans-serif;
    color: gray;
    gap:5px;
    font-size:20px;

}

.createAccounttext{
    color: blue;
    text-decoration: underline;
}
