
.nav-container{
/* background-color:greenyellow;*/
background-color:antiquewhite;
height:55px; 
border-radius:15px;
}

.navbar{
  
    max-width:90%;
    display: flex;
    justify-content:space-between;
    margin: auto;
    align-items: center;
     font-family: "Poppins", sans-serif;
}

.search-container{
    /* max-width:600px;
    width:auto; */
  min-width:40%;
  width:auto;

  
}

.active .navbar-item-text,
.active .nav-icon{
 color: blue;
 
}

.navbar-link{
    text-decoration:none;
    color: black;
    font-size:17px;
}

.search-icon{
    height:24px;
    position: absolute;
    margin:7px 0 0 10px; 
}


.nav-content {
  display: flex;
  align-items: center;
  gap: 6px;
  background-color:white;
  width:100px;
  height:40px;
  justify-content: center;
  border-radius:10px;
  
}

.nav-icon {
  width: 22px;
  height: 22px;
  color: black;
 

}

