.nav-container{
   
    height:60px;
   /* background-color:bisque; */
   background-color:white;
   padding:0;
   display: flex;
   justify-content: center;
   z-index:9;
   position: fixed;
   top:0;
   box-shadow:0 1px 5px rgba(0, 0, 0, 0.377);
   
   
}

.navbar{
  
    height: 100%;
    /* background-color:blue; */
    /* max-width:95%;
    width: auto; */
    width:95%;

   
}

.group-list{
   
    width:100%;
    display: flex;
    align-items: center;
    /* justify-content:center; */
    list-style-type: none;
     height: 100%;
     gap:10px;
   
    

}




.logo-img{
    max-height:50px;
    object-fit: contain;
    width:130px;
}

.searchbar-cont{
 /* position: relative; */
   /* flex:1; */
   /* margin:0 25px; */
   display: flex;
  justify-content: center;
 
  width:100%;
 
   
}

.search-wrapper{
    width:100%;
    max-width:550px;
    
   
  
  
}

.search-icon{
    position: absolute;
    height:22px;
  
    margin-top:8px;
   
    padding-left:10px;




}

.searchbar{
   width:100%;
   
    font-family: "Poppins", sans-serif;
 border:2px solid #417ae6 !important;
    border-radius:30px !important;
    
}

.profile-cont,
.cart-cont{
    background-color: rgb(255, 255, 255);
    width:95px;
     font-family: "Poppins", sans-serif;
     display: flex;
     justify-content: center;
     align-items: center;
     padding:0;
     margin:0;
      height:40px;
      border-radius:10px;
      gap:6px;
      border:2px solid #417ae6 !important;
  
       
     
}

.profile-cont{
  /* position: absolute; */
  /* margin-right:50px; */
 
}


.profile-txt,
.cart-txt{
    
    margin:0;
   
}


.profile-icon,
.cart-icon{
  height:25px;
  width:25px;
  display: block;
 

}
