.products_container{
    margin-top:160px;
}



.cardcontainer{
 /* background-color:yellow; */
    /* display: grid;
    grid-template-columns:repeat(3,1fr); */

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap:20px;
    margin-top:30px ;
    /* overflow: hidden; */

}

.productcard{
    height:500px;
    width:430px;
    /* background-color:rgb(113, 178, 182); */
    border-radius:30px;
    /* display:flex;
    justify-content: center; */
    
    box-shadow:0 0 2px 2px rgba(0, 0, 0, 0.392);
    position: relative;

   animation: name duration timing-function delay iteration-count direction fill-mode;

   animation: procard 0.8s 1 ease-in;

   
}

@keyframes procard {
     0%{
       opacity:0;
        transform: translateX(0px);
    }
    100%{
        opacity:1;
        transform: translateX(20px);
    }  
}






.likecont{
   display: flex;
   justify-content: space-between;
   padding:10px 10px  0 10px;
}

.prodcategory{
    background-color:rgb(73, 73, 235);
   
    padding:5px 10px;
    color:white;
    border-radius:15px;
    font-size:12px;
    /* position: absolute; */

   
     
margin:10px 0 0 10px; 
}


.heartIcon{
    height:30px;
}

.prodimg{
    height:350px;
    width:350px;
    object-fit: cover;
    display: block;
    margin:auto;
    /* background-color:red; */
    transition:transform 0.6s ease-out;
    
}

.prodimg:hover{
    transform:scale(1.07);
    
}

.price_cont{
    
    display: flex;
    height:20px;
    gap:10px;
    margin-top:10px;
}