
.form-container{
    display: flex;
    justify-content:center;

    /* min-height:100vh;
    height:auto; */
    /* overflow: hidden; */
}


.OTP-verify-form{
     background-color:#ffffff; 
    max-width:400px;
    width:100%;
    height:330px;
    padding:20px;
    border-radius:30px;
    box-shadow: 0 0 15px 2px rgba(0, 0, 0, 0.251);
   
    margin-top:50px;


}
/* 
.signupbtn {
    height:40px;
    width:90px;
    border:none;
    border-radius:10px;
    background-color:yellow;
    display: block;
    margin:25px auto;
} */

.label{
  margin-top:5px;
  /* font-size:; */
  font-family: "Poppins", sans-serif;
}

.form-inputs{
 margin-top: 8px;
 font-family: "Poppins", sans-serif;
}


.email-contianer{
     font-family: "Poppins", sans-serif;
     text-align: center;
     color:rgba(0, 0, 0, 0.471);
}
